{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="page-header">
    <h1><a href="/">Rodrigo's BLOG</a></h1>
</div>

<div class='content container'>
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

</body>
</html>