{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/zenburn.css' %}">
</head>
<body>

<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fab fa-firstdraft fa-2x"style="color: #ffffff;"></i></a>
        <a href="{% url 'post_new' %}" class="top-menu"><i class="fas fa-plus fa-2x" style="color: #ffffff;"></i></a>

        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>

    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt fa-2x" style="color: #ffffff;"></i></a>

    {% endif %}
    
    <h1>Rodrigo's Blog</h1>

</div>

<div class='content container'>
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

</body>
</html>